
.container {
    width: 100%;
    max-width: 2000px;
}

/* Boton carrito */
.container .btn-menu, .logo {
    margin-top: 10px;
}

.container .btn-menu label i {
    font-size: 25px;
    cursor: pointer;
}


/* Caracteristicas del boton 'ir al carrito' */
.container .menu ul li a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    font-size: 15px;
    margin-right: 5px;
}

/* Hover de boton 'ir al carrito' */
.container .menu ul li a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

/* Mantiene el icono carrito arriba del checkbox */
#btn-menu {
    display: none;
}

/* Ayuda a que la caja se mantenga en su lugar y escondida cuando no esta checkeada*/
.container-menu {
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

/* Cuando haces click en la checkbox se hace visible la caja del carrito */
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}

/* Caracteristicas y movimientos de la caja del carrito */
.cont-menu {
    width: 100%;
    max-width: 300px;
    background: #212529;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(100%);
    float: right;
}

/* No me acuerdo que hace pero si lo saco la caja no funciona */
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}

/* Mismo que lo anterior */
.cont-menu nav {
    transform: translateY(15%);
}

/* X para cerrar el carrito dentro de caja*/
.cont-menu label i{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    margin: 5px;
}

.letras-carrito {
    color: white;
    margin: 10px;
}

/* Total, subtotal y descuentos alineados*/
.calculos-carrito {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
