:root {
  --bg-color: #e3e0ff;
  --bg-color-2: #8d88dc;

  --pink-1: #ffd6ff;
  --pink-2: #ffc8ff;
  --light-purple-1: #e7c6ff;
  --light-purple-2: #e2b9ff;
  --purple-1: #c8b6ff;
  --purple-2: #beaaff;
  --blue-1: #b8c0ff;
  --blue-2: #aab4ff;
  --light-blue-1: #bbd0ff;
  --light-blue-2: #afc9ff;
}

#modo-oscuro {
  background-color: #000000;
}
#modo-oscuro .texto-modo-oscuro{
  color: white;
}
#modo-oscuro .fondo-modo-oscuro{
  background-color: #ffffffe9;
}
#modo-oscuro .img-encabezado{
  background-image: url(../img/banner_categories_products_modoOscuro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 160px;
  padding-left: 10%;
}

#modo-oscuro .product-item{
  background-color: #1c1c1cc2 !important;
}
#modo-oscuro .album{
  background-color: #000000c2 !important;
}
#modo-oscuro .row{
  padding-top: 20px;
  background-color: #000000c2 !important;
}
#modo-oscuro .row *{
  background-color: #1c1c1cc2 !important;
}
#modo-oscuro .card{
  background-color: #000000c2 !important;
}
#modo-oscuro .card p{
  color: white;
}
#modo-oscuro .product-item p{
  color: white;
}
#modo-oscuro footer{
  background-color: #1c1c1cc2;
  color: white;
}
#modo-oscuro a {
  color: #fcfcfc;
}

#modo-oscuro .mo-texto-negro {
  color: black !important;
} 


.pb-5 {
  padding-bottom: 20px !important;
}

.img-encabezado {
  background-image: url(../img/banner_categories_products.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 160px;
  padding-left: 10%;
}

.box-item {
  gap: 15px;
}

.list-group {
  padding: 0 40px;
}

.list-group-item {
  background-color: var(--bg-color);
}

.list-group-item-action {
  transition: transform 0.3s ease;
  cursor: pointer;
  border-radius: 10px;
}

.list-group-item-action:hover {
  transform: scale(1.01);
  border-style: inset;
}

.jumbotron,
.card-body,
.container,
.site-header {
  font-family: "Verdana", serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

.m-3 {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  padding: 8px 80px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 25px 0;
  text-align: center;
  font-size: 20px;
  color: white;
  background: rgb(255, 177, 255);
  background: linear-gradient(90deg, rgba(255, 177, 255, 1) 0%, rgba(218, 165, 255, 1) 50%, rgba(168, 142, 255, 1) 100%);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53c0fb;
  background: url("../img/cover_back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.text-center {
  position: relative;
  top: 29px;
  margin: 15px;
}

.btn {
  margin: 10px;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

.navbar {
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav a {
  text-decoration: none;
}

.navbar ul li {
  cursor: pointer;
}



footer {
  background-color: #e3e0ff;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color 0.15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087f7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

.checked {
  color: orange;
}

.custom-card {
  transition: all 0.5s ease-in-out;
  background-color: var(--bg-color);
}

.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
  transform: scale(1.05);
}

.card-body {
  padding-top: 0;
}

.card-text {
  text-align: center;
}

.checked {
  color: orange;
}

.navbar {
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

main {
  margin-top: 50px;
}

.navbar ul li {
  cursor: pointer;
}

#contenido {
  pointer-events: all;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.popup::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  backdrop-filter: blur(3px);
  z-index: -1;
}

#loginButton {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border-color: rgba(207, 207, 207, 0.998);
  border-radius: 5px;
  background-color: #afd4f2;
}

.popup-content {
  background-color: rgba(236, 217, 243, 0.844);
  padding: 20px;
  border-color: rgba(207, 207, 207, 0.387);
  border-radius: 5px;
  border-style: inset;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.text-center {
  margin-top: 25px;
}

/* filtro de categories.js que se encarga de crearlo y eliminarlo dependiendo de la condicion */
.filtro {
  display: none !important;
}