
.login-container{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: 1000;
    height: 100%;
}
#email-p{
    color: white;
    margin-bottom: 0;
}

.foto-perfil-login{
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-right: 20px;
}

.foto-perfil-login:active{
    width: 32px;
}

.login-perfil{
    background-color: #c8c3f6;
    color:black;
    margin: 0 20px 10px 0;
    cursor: pointer;
    text-decoration: none;
    border-radius: 0 15px 15px 0;
    
}

.tarjeta {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex-direction:column;
}

#salir{
    background-color: #a8a0f8;
    display: grid;
    place-items: start;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 0 15% 15% 0
}

#salir:hover{
    background-color: rgb(158, 158, 158);
}

#salir:active{
    background-color: rgb(222, 222, 222);
}


.popup-wrapper{
    border-color: #c8c3f6;
    border-style: inset;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#popup-cambio-img{
    background-color: #c8c3f6;
    border: none;
    cursor: pointer;
}
#popup-cambio-img:hover{
    background-color: rgb(158, 158, 158); ;
}


.popup-contenido {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cerrar {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.opciones-icono {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    margin-top: 20px;
    gap: 5px;
}

.opcion-icono {
    width: 50px;
    height: 50px;
    font-size: 18px;
    padding: 0;
    border-style: inherit;
    background-color: #d89ffe;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
}
.opcion-icono > img{
    width: 50px;
    height: 50px;

}

.nav-popup-boton {
    display: grid;
    place-items: start;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 0 15% 15% 0
}


